*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
  
}
#wrapper{
    margin-bottom: 44px;
}
.container{
    width: 960px;
    height: 400px;
}
#bannar{
    width: 100%;
    height: 408px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.948),rgba(0, 0, 0, 0.023)),url(images/eid\ hat.jpg);
    background-size:
    cover;
}
.inpu{width: 215px;color: white;text-align: justify;padding: 139px 213px;}
h1{
    font-size: 30px;
    margin-bottom: 25px;
    
}
#pag{
    font-size: 16px;
    width: 355px;
    margin-bottom: 20px;
}
.btn{
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.3s;
    border:
    none;
    margin-top: 10px;
}
.btn a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    
}
.btn:hover {
    background-color: red;
}
section#scn-inpu {
    margin-bottom: 30px;
}
.hlaf-width {
    display: flex;
}

.snd-inpu {
    width: 50%;
    padding: 20px 51px;
    margin-left: 50px;
    line-height: 32px;
}

.imge {
    width: 89%;
    margin-right: 10px;
}
.play {
    margin: auto;
}

.play img {
    width: 40px;
    position: relative;
    transform: translateX(-262px);
    bottom: 1px;
    left: 0px;
    box-shadow: 10px 10px 40px 10px red;
}

.imge img {
    position: absolute;
}
.imgee img {
    width: 86%;
    height: 110%;
    margin-left: 60px;
}
.top-inpu {
    width: 330px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
p#peg {
    width: 374px;
    font-size: 12px;
}
.forth-item{
  display: grid;
  grid-template-columns: 357px 348px;
  margin: 0 150px;
 
}


.direect {
    display: flex;
    width: 300px;
    text-align: justify;
    background: lavenderblush;
    padding: 20px;
    margin-bottom: 20px;
}
.icon {
    margin-right: 10px;
}